body{
	background-color: #a0dec0;
}

h1{
	text-align: center;
	color: #ff33bb;
	font-family: 'Bree Serif', serif;
}

h3{
	text-align: center;
}

p{
	text-align: center;
}

h2{
	font-family: 'Bree Serif', serif;
	color: #c44dff;
	font-size: 27px;
	text-shadow: 2px 2px yellow;
}

#main-navbar{
	background-color: #c6ecd9;
	width: 100%;
	text-align: center;
}

#navbar-container ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#navbar-container ul li{
	float: left;
}

#navbar-container ul li a{
	color: #ff3399;
	padding: 15px 20px;
	display: block;
	font-size: 20px;
}

#navbar-container ul li a:hover{
	background-color: #ffcce6;
}

#navbar-container ul li a:link{
	text-decoration: none;
}

#onpage{
	text-decoration: underline;
}

#h2skills{
	position: relative;
	left: 80px;
}

#skills{
	width: 800px;
	height: 160px;
	font-size: 16px;
	font-family: monospace;
	color: #194d32;
	margin: auto 80px 60px auto;
	padding-right: 100px;
	border: 3px ridge #c6ecd9;
}

#h2experience{
	position: relative;
	left: 80px;
}

#experience{
	font-size: 23px;
	font-family: serif;
	color: #194d32;
	border-style: double;
	border-radius: 10px;
	border-width: 5px;
	border-color: #ffbb87;
	width: 800px;
}

#h2education{
	position: relative;
	left: 80px;
}

#education{
	width: 800px;
	height: 200px;
	font-size: 16px;
	font-family: monospace;
	color: #194d32;
	margin: auto 80px 60px auto;
	padding-right: 100px;
	border: 3px ridge #c6ecd9;
}

#h2awards{
	position: relative;
	left: 80px;
}

#awards{
    font-size: 22px;
	font-family: copperplate;
	color: #6905ed;
	border-style: dashed;
	border-radius: 20px;
	border-width: 4px;
	border-color: #d60656;
	width: 800px;
}

#h2eca{
	position: relative;
	left: 80px;
}

#eca{
	width: 800px;
	height: 160px;
	font-size: 16px;
	font-family: monospace;
	color: #194d32;
	margin: auto 80px 60px auto;
	padding-right: 100px;
	border: 3px ridge #c6ecd9;
}

#ginger{
	height: 270px;
	width: 250px;
	border-radius: 25px;
}

#summer{
	height: 270px;
	width: 250px;
	border-radius: 25px;
}

#fish{
	height: 270px;
	width: 270px;
	border-radius: 25px;
}

#blurb1{
	font-family: 'Russo One', sans-serif;
	color: #b300b3;
	font-size: 23px;
	text-shadow: 4px 4px 2px #bf80ff;
}

#name1{
	font-family: 'Bree Serif', serif;
	color: #6600ff;
	font-size: 20px;
}

#name2{
	font-family: 'Bree Serif', serif;
	color: #6600ff;
	font-size: 20px;
}

#name3{
	font-family: 'Bree Serif', serif;
	color: #6600ff;
	font-size: 20px;
}

#main1{
	font-family: monospace;
	color: #6600ff;
	font-size: 16px;
}

#main2{
	font-family: monospace;
	color: #6600ff;
	font-size: 16px;
}

#main3{
	font-family: monospace;
	color: #6600ff;
	font-size: 16px;
}

#outer1{
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
}

#wrapper1{
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-column-gap: 1em;
	grid-row-gap: 5em;
}

#wrapper2{
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-column-gap: 1em;
	grid-row-gap: 5em;
}

#wrapper3{
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-column-gap: 1em;
	grid-row-gap: 5em;
	margin-bottom: 40px;
}

#blurb2{
	font-family: 'Bree Serif', serif;
	color: #bf80ff;
	font-size: 23px;
	text-shadow: 2px 2px yellow;
}

#name4{
	font-family: 'Russo One', sans-serif;
	color: #6600ff;
	font-size: 20px;
	text-shadow: 2px 2px 5px #ff0066;
	padding-left: 20%;
}

#name5{
	font-family: 'Russo One', sans-serif;
	color: #6600ff;
	font-size: 20px;
	text-shadow: 2px 2px 5px #ff0066;
	padding-left: 20%;
}

#name6{
	font-family: 'Russo One', sans-serif;
	color: #6600ff;
	font-size: 20px;
	text-shadow: 2px 2px 5px #ff0066;
	padding-left: 20%;
}

#main4{
	font-family: monospace;
	color: #6600ff;
	font-size: 16px;
	line-height: 1.4;
}

#main5{
	font-family: monospace;
	color: #6600ff;
	font-size: 16px;
	line-height: 1.4;
}

#main6{
	font-family: monospace;
	color: #6600ff;
	font-size: 16px;
	line-height: 1.4;
}

#wrapper4{
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-column-gap: 1em;
	grid-row-gap: 5em;
}

#wrapper5{
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-column-gap: 1em;
	grid-row-gap: 5em;
}

#wrapper6{
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-column-gap: 1em;
	grid-row-gap: 5em;
	margin-bottom: 40px;
}

#map{
	height: 700px;
	width: 700px;
}


@media (min-width: 800px){
	#experience{
	height: 250px;
	font-size: 16px;
	font-family: monospace;
	margin: auto 80px 60px auto;
	padding-right: 100px;
	border: 3px ridge #c6ecd9;
	}
}

@media (min-width: 800px){
	#awards{
	width: 800px;
	height: 120px;
	font-size: 16px;
	font-family: monospace;
	color: #194d32;
	margin: auto 80px 60px auto;
	padding-right: 100px;
	border: 3px ridge #c6ecd9;
	}
}




